


$font-sixe: 15px;
$bg-color: "gray";

h1{
    font-size: 40px;
    color: #25272b;
}

h2{
    font-size: 28px;
    color: #25272b;
}

h3 {
    font-size: 17px;
    color: #25272b;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 15px;
    color: #00000080;
    font-weight: 500;
}

i {
    font-size: 13px;
    color: #25272b;
}

p {
    font-size: 15px;
    color: #9da9bb;
}

.container {
        width: 65%;
        margin: 0 auto;
}
