@use 'variable' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    background-color: #fff;
}

// Navbar start
nav {
    width: 100%;
    background-color: #fff;
    box-shadow: 2px 7px 15px rgba(0, 0, 0, 0.2);
    .container {
        width: 65%;
        margin: 0 auto;
    }

    .nav-container {
        display: flex;
        justify-content: space-between;
        gap: 4rem;
        padding: 1.4rem 0;
    }

    .nav-items ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 2rem;
        justify-content: flex-end;
    }

    .nav-items {
        flex-grow: 1;
    }

    a {
        color: #25272b;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    a:hover {
        color: #3F8EFC;
        transition: all 0.3s ease;
    }
    
    .nav-items {
    ul {
      li:first-child {
        a {
            color: #3F8EFC;
        }
        }
    }
    }

    .nav-icons  {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .nav-icons i {
        font-size: 13px;
    }

    
    .nav-icons i:hover {
        color: #3F8EFC;
        transition: 0.5s ease;
    }
    
}
// Navbar end

// Hero section start
.hero-section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 665px;
    background-color: #D9E8FE;
    z-index: -1;

    .main-text-aria {
        padding: 5rem 0;
    }

    .hero-section-aria {
        display: flex;
    }

    .text-aria h4 {
        color: #3F8EFC;
        letter-spacing: 6px;
        text-transform: uppercase;
        font-size: 15px;
    }

    h1 {
        margin-top: 1.5rem;
        font-weight: 500;
    }

    p {
        margin-top: 2rem;
        line-height: 1.5rem;
        word-spacing: 1px;
        font-size: 17px;
        color: #00000080;
    }

    .input-aria {

        position: relative;

        input {
        width: 100%;
        padding: 1.2rem 1.5rem;
        font-size: 17px;
        border: none;
        outline: none;
        border-radius: 30px;
        margin-top: 3rem;
    }

    .sub-btn {
        padding: 0.9rem 2rem;
        border: none;
        background-color: transparent;
        background-color: #3F8EFC;
        border-radius: 30px;
        text-transform: uppercase;
        font-size: 16px;
        color: #fff;
        font-weight: 500;
        position: absolute;
        right: 8px;
        top: 54px;
        transition: 0.3s ease;
    }

    .sub-btn:hover {
        transform: translateY(-6px);
    }

    }

    .right-aria {
        flex-grow: 1;
        text-align: end;
    }
    


}
// Hero section end

// Products features section
.products-features-section {
    margin-top: 5rem;

    h2 {
        text-align: center;
        font-weight: 500;
    }

    h3 {
        font-weight: 600;
    }

    .header-items {
        p {
            text-align: center;
            margin-top: 1rem;
            line-height: 1.5rem;
        }
    }
    
    .products-items-section {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-top: 5rem;
    }

    .features-box:hover {
        transform: translateY(-12px);
    }

    .features-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 365px;
        height: 200px;
        transition: all 0.3s ease;

        span {
            padding: 1rem 1.2rem;
            background-color: #D9E8FE;
            border-radius: 50%;
        }
        
        i {
            font-size: 25px;
            margin-top: 1rem;
            color: #3F8EFC;
        }

        h3 {
            margin-top: 1rem;
            opacity: .99;
        }
        p {
            text-align: center;
            margin-top: 1rem;
            line-height: 1.5rem;
        }
    }

}
// Products features section

// Work about section start
.work-about-section {
    margin-top: 5rem;
    background-color: #F8F9FA;

    .title-header {
        padding: 4rem 0;
        h2 {
            text-align: center;
            font-weight: 500;
        }
        p {
            text-align: center;
            margin-top: 1rem;
            line-height: 1.5rem;
        }
        
    }

    .image-text {
        display: flex;
        justify-content: space-evenly;
        padding: 2rem 0;

        h3 {
            font-weight: 600;
        }
        p {
            margin-top: 0.6rem;
        }
    }

    .text-aria {
        
    }

    .right-text-aria {
        h3 {
            text-align: end;
        }
        p {
            text-align: end;
        }
    }

    .time-line::before {
        content: '';
        width: 4px;
        height: 500px;
        background-color: red;
    }
}
// Work about section end





